/* Roadmap.module.css */
.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white; 
  }

  .roadmapContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 16px;
    background: rgba(187, 231, 47, 0.60);

    position: relative;
  }

  .stepContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .firstStepPathContainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the items for a better visual appearance */
    justify-content: center;
    gap: 10px; /* Adjust the gap as needed */
  }
  
  .step {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    margin: 20px 0;

    color: #FFF;
    text-align: center;
    font-size: 15px;

    cursor: pointer;

    z-index: 10; /* Make sure this is higher than the SVG z-index */

  }

  /* svg {
    z-index: 1;
  } */
  
  .stepCompleted {
    background-color: #95BC63;
    color: white;
  }
  
  .stepIncomplete {
    background-color: #0D0D0D33;  
  }

  .stepInProgress {
    background-color: #519546;
  }
  
  .connector {
    height: 50px;
    width: 2px;
    background-color: #ddd;
    align-self: center;
  }

  .titleContainer {
    align-self: flex-start;
    margin: 20px;
    margin-bottom: -40px;
  }
  
  .title {
    align-self: flex-start;
    margin: 20px;
  }
  