.pageContent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 70vh;
}

.forgotPasswordContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  gap: 24px;
}

.contentText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--Grey-100, #1d1d1d);
  font-size: 36px;
  font-weight: 600;
  line-height: 100%;
  margin-bottom: -2px;
}

.resetInstructions {
  color: rgba(13, 13, 13, 0.44);
  font-size: 14px;
  padding-top: 15px;
}

.form {
  width: 100%;
}

.label {
  font-weight: 500;
  color: #808080;
}

.email {
  align-self: left;
  color: var(--Grey-40, #9b9b9b);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 5px;
}

.input {
  padding: 12px 20px;
  font-size: 18px;
  font-weight: 55a0;
  background-color: #e2e2e2;
  color: #1d1d1d;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 90%;
}

.input:focus {
  outline: none;
}

.submitButton {
  padding: 12px 36px;
  background: var(--Green-100, #519546);
  backdrop-filter: blur(5px);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 24px;
  width: 204px;
  font-size: 14px;
  font-weight: bold;
}

.submitButton:hover {
  background-color: #45a049;
}

.backToLogin {
  display: block;
  color: var(--Green-100, #519546);
  text-decoration: underline;
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
  line-height: 100%;
  font-style: normal;
  font-weight: 600;
}

.topLeft {
  color: var(--Green-100, #519546);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  padding-top: 30px;
  padding-left: 30px;
  display: flex;
  align-items: center;
}

.topLeft span {
  margin-top: -5px;
}

@media (max-width: 800px) {
  .submitButton {
    width: 10rem; /* Make submit button full width on smaller screens */
    font-size: 15px;
  }

  .input {
    font-size: 13px; /* Make button container full width on smaller screens */
  }
}
