.forgotPasswordContainer {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 70vh;
  margin-left: 20vw;
}

.title {
  color: var(--Grey-100, #1D1D1D);
  font-family: "Instrument Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  margin-bottom: -2px;
}

.resetInstructions {
  color: #808080;
  margin-bottom: 30px;
  font-size: 12px;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  flex-direction: column;
  margin-bottom: 10px;
  font-weight: 500;
  color: #808080;
  background-color: white;
  display: flex;
  align-items: center;
}

.email {
  width: 48%; 
  align-self: left;
  background-color: white;
  color: var(--Grey-40, #9B9B9B);
  font-family: "Instrument Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.input {
    margin-top: 7px;
    margin-bottom: 25px; 
    padding: 12px 18px;
    font-size: 18px; 
    font-weight: 550;
    line-height: 110%;
    background-color: #f2f2f2;
    font-family: "Instrument Sans";
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 45%; 
    border-radius: 8px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}

.submitButton {
  padding: 14px 18px;
  background: var(--Green-100, #519546);
  backdrop-filter: blur(5px);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 24px;
  width: 35%;
  font-size: 14px;
  font-weight: bold;
}

.submitButton:hover {
  background-color: #45a049;
}

.backToLogin {
  display: block;
  color: var(--Green-100, #519546);
  text-decoration: underline;
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
  letter-spacing: -0.3px;
  line-height: 100%;
  font-style: normal;
  font-weight: 600;
}

.topLeft {
  color: var(--Green-100, #519546);
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  padding-top: 30px;
  padding-left: 30px;
  display: flex;
  align-items: center;
}

.topLeft span {
  margin-top: -5px;
}