@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

.store {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 110px;
    background-color: white;
}

.title {
    color: #000;
    font-family: 'Instrument Sans', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.seedsTitle {
    color: #000;
    font-family: 'Instrument Sans', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    margin-bottom: 30px;
}

.storeItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;
    margin: 1rem;
    margin-top: 5px;
    padding: 1rem;
    border-radius: 5px;

    background-color: white;
}

.storeItem {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.storeItem img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.storeItemImg {
    position: relative;
    width: 12em;
    height: 12em;
    padding: 1rem;
    background-color: #e4eef6;
    border-radius: 1em;
}

.storeItemImgOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: opacity 0.5s;
    border-radius: 1em;
}

.storeItemPrice {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: black;
    border: 1px solid #CBCBCB;
    padding: 0.3rem;
    border-radius: 0.75em;
    font-size: 100px;

    font-family: "Instrument Sans";
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 14px */
  }
  
  

.storeItemDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.2rem;
    box-sizing: border-box;
    color: var(--Grey-100, #1D1D1D);
    font-family: 'Instrument Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
}
