.navbar {
    padding: 100px;
    margin-right: 700px;
    margin-bottom: 10px;
    margin-inline-start: -50px;
    background-color: #d9d9d9;
    background-position: 50px 100px;
    background-repeat: repeat-y;
    height: 100vh;
}

.navcomp {
    text-align:left;
    color: black;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.GG_Scholar {
    font-size: 10px;
    margin-bottom: 30px;
 }