.navbar {
  position: sticky;
  background: var(--Grey-4, #f5f5f5);
  height: 100vh;
  max-width: 20vw;
  min-width: 20vw;
  /* width: 284px; */
  z-index: 100;
  top: 0;
  left: 0;
}
.navbar.mini {
  max-width: 6vw;
  min-width: 6vw;
  /* width: 48px; */
}
.navcomp {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: space-between;
  text-align: left;
  font-family: "Work Sans", sans-serif;
  /* padding: 0.5em; */
  box-sizing: border-box;
}
.personIcon {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.profileWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 2em;
  cursor: pointer;
}

.profileText {
  display: flex;
  flex-direction: column;
}
.profilePoints {
  color: var(--Grey-40, #9b9b9b);
  font-family: "Instrument Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  /* line-height: 110%;  */
}
.usernameText {
  color: var(--Grey-100, #1d1d1d);
  font-family: "Instrument Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
}
.button {
  align-items: center;
  justify-content: center;
}
.link {
  text-align: left;
  width: 212px;
  /* background-color: #D9D9D9; */
  background-color: inherit;
  color: black;
  cursor: pointer;
  font-weight: 620;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  justify-content: flex-start;
  gap: 0.5em;
  border-radius: 0.5em;
  text-decoration: none !important;
}
.navlinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 1em; */
  padding: 1em;
  cursor: pointer;
}

.link:hover,
.link.active {
  /* background-color: #F0F0F0; */
  background: var(--Grey-8, #e2e2e2);
  color: green;
  text-decoration: none !important;
}
.GGScholar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
  font-size: 1.2em;
  color: green;
}

.ggLogoAndText {
  margin-bottom: 100px;
}
