/* Main container for the page */
.pageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  padding: 2em 5em;
}

/* Header container for the title and description */
.header {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 10px;
}

/* Title styling */
.title {
  text-align: left;
  margin-bottom: 30px;
  font-size: 40px;
  line-height: 120%;
}

/* Description text styling */
.exampleText {
  text-align: left;
  margin-bottom: 20px;
  width: 100%;
}

/* Main box containing the map and sidebar */
.mainBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10px 10px 10px 0;
  padding-right: 20px;
  width: 100%;
  min-width: 768px;
  height: calc(
    100vh - 140px
  ); /* Adjust height to account for the header and padding */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden; /* Prevent vertical scrolling */
}

/* Map container styling */
.mapContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 95%; /* Ensure it fills the remaining height */
  z-index: 100;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
}

/* Sidebar styling */
.sideBar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 35%;
  height: 100%; /* Ensure it fills the remaining height */
  box-sizing: border-box;
}

/* Marker modal styling */
.markerModal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50em; /* Increase the width as desired */
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.markerModalTagSustainabilityLab {
  background-color: #ffd39f;
  border-radius: 10px;
  padding: 6px 13px;
  font-weight: 400;
  margin: 0;
}

.markerModalTagResort {
  background-color: #a0d8b3;
  border-radius: 10px;
  padding: 6px 13px;
  font-weight: 400;
  margin: 0;
}

.markerModalLink {
  margin-top: 2px;
  color: #787878;
  text-decoration: none;
  font-size: 1.1em;
}

.markerModalLink:focus {
  outline: none;
}

/* Sidebar item header styling */
.sideBarItem h3 {
  padding-left: 0.5em;
  margin-bottom: 0.2em;
}

/* Sidebar item paragraph styling */
.sideBarItem p {
  margin: 0;
  color: #797979;
  padding-left: 0.5em;
}

/* Sidebar item styling */
.sideBarItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 1em;
  margin: 0.5em 0;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.2;
  min-height: 80px;
  position: relative;
  transition: border 0.1s ease;
  cursor: pointer;
}

.sideBarItem:hover {
  outline: 2px solid #6daae0;
}

/* Marker modal styling */
.markerModal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50em; /* Increase the width as desired */
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.markerModalTagSustainabilityLab {
  background-color: #ffd39f;
  border-radius: 10px;
  padding: 6px 13px;
  font-weight: 400;
  margin: 0;
}

.markerModalTagResort {
  background-color: #a0d8b3;
  border-radius: 10px;
  padding: 6px 13px;
  font-weight: 400;
  margin: 0;
}

.markerModalLink {
  margin-top: 2px;
  color: #787878;
  text-decoration: none;
  font-size: 1.1em;
}

/* Sidebar item header styling */
.sideBarItem h3 {
  padding-left: 0.9em;
  transform: translateY(-60%);
}

/* Sidebar item paragraph styling */
.sideBarItem p {
  margin: 0;
  color: #797979;
  padding-left: 0.9em;
  transform: translateY(-50%);
}
.sideBarItemSelected {
  background-color: #e2edf7;
  outline: 2px solid #6daae0;
}

.markerModalLink:focus {
  outline: none;
}
