.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 3px #ccc;
    
}


.mapContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 400px;
    z-index: 100;
}

.mainBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 3px #ccc;
  }

.sideBar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.sideBarItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;

    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 2px 3px #ccc;
}
