.container {
  width: 100vw;
  height: 100vh;
  width: 100%;
  min-width: 800px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  position: relative;
  padding: 0 6.25rem;
  box-sizing: border-box;
}

.quizContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.quizContainer {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  /* align-items: left; */
  /* justify-content: center; */
  height: 100%;
  /* max-width: 1000px;
  max-height: 600px; */
  background-color: white;
}

.quizQuestionNumber {
  font-weight: bold;
  color: black;
  text-align: left;
}

.quizTitleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: var(--Grey-40, #9b9b9b);
  margin: 15px;
}

.xButton {
  position: absolute;
  cursor: pointer;
  font-size: 15px;
  color: #454545;
}

.progressbarandhintcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 500px;
  background-color: white;
  width: 100%;
}

.questionTypeandPointscontainer {
  display: flex;
  flex-direction: row;
  align-items: left;
  min-width: 500px;
  background-color: white;
  width: 100%;
  margin-top: 40px;

  color: #0d0d0d66;
}

.points {
  padding: 10px 15px;
  font-size: 14px;
  line-height: 140%;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 500px;
  padding: 0 10px;
  margin-top: auto;
  width: 100%;

  margin-bottom: 50px;
}

.choiceContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 80px;
}

.choiceContainerTrueandFalse {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.choiceRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin: 10px;
}

.choiceButton {
  flex-basis: calc(100% - 10px);
  text-align: left;
  margin: 5px 10px;
  outline: 1px solid black;
  border-radius: 3px;
  background: var(--Grey-4, rgba(13, 13, 13, 0.04));
  padding: 15px 20px; /* Increase padding to make buttons taller and text inside have more room */
  border: none;

  font-size: 20px;
}

.choiceButton:hover {
  outline: 2.75px solid #1d594b;
  cursor: pointer;
}

.hintButton {
  background: url('../quiz/hint_logo.png') no-repeat center center;
  background-size: contain;
  cursor: pointer;
  height: 18px;
  width: 18px;
  border: none;
  display: inline-block;
  border-radius: 50%;
}

.hintOverlay {
  /* Existing styles */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
}

.hintPopup {
  display: 'flex';
  justify-content: 'space-between';
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: auto;
  max-width: 80%;
  border-radius: 8px;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
}

.closeButton:hover {
  color: #ff0000;
  cursor: pointer;
}

.optionsContainer button,
.definitionsContainer button {
  margin: 2px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  color: #333333;
  cursor: pointer;
}

.optionsContainer button:hover,
.definitionsContainer button:hover {
  border-color: #f0ad4e;
  cursor: pointer;
}

.scoreCard {
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 75%;
  max-width: 575px;
  min-width: 300px;
  margin-bottom: 10px;
}

.secondRow {
  background: grey;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  max-width: 575px;
  min-width: 300px;
}

.xpCard {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 27%;
  margin-right: 1.25em;
}

.xpCardLines {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
}

.extraMessage {
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  max-width: 575px;
  min-width: 300px;
}

.extraMessageLines {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
}

.progressCircle {
  width: 100px;
  height: 100px;
  padding-right: 75px;
}

.scoreDetails {
  font-size: 1em;
  margin-top: 20px;
}

.normalFont {
  font-weight: normal;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.boldText {
  font-weight: 900;
  font-size: 2em;
}

.nextButton {
  border: 0px solid black;
  background-color: #1d594b;
  color: white;
  border-radius: 4px;
  padding: 10px 30px;
  margin-left: 25px;
  transition-duration: 0.6s;
  font-weight: bold;
}

.nextButton:hover {
  background-color: #04aa6d;
  opacity: 0.5;
  cursor: pointer;
}

.checkButton {
  border: 0px solid black;
  width: 160px;
  background-color: #bfbfbf;
  color: white;
  border-radius: 40px;
  padding: 12px 32px;
  transition-duration: 0.3s;
  font-size: 16px;
  font-weight: 600;
  font: bold;
  color: white;
}

.checkButton:hover {
  /* background-color: #04AA6D;  */
  opacity: 0.8;
  cursor: pointer;
}

.checkButtonEnabled {
  background-color: #519546;
  color: #fffffd;
}

.checkButtonClicked {
  border: 1px solid green;
}

.skipButton {
  background-color: white;
  border: 1px solid #9b9b9b;
  border-radius: 40px;
  padding: 12px 32px;
  transition-duration: 0.3s;
  font-size: 16px;
  line-height: 110%;
  color: rgba(13, 13, 13, 0.8);
  cursor: pointer;
  text-align: center;
  display: inline-block;
}

.skipButton:hover {
  background-color: #f2f2f2;
  color: #808080;
  border-color: #808080;
  cursor: pointer;
}

/* Matching styling */

.matchingContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.rowContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}

.optionBox,
.definitionBox {
  display: flex;
  align-items: center;
  border: 0px solid #b4b4b4;
  border-radius: 5px;
  background: var(--Grey-4, rgba(13, 13, 13, 0.04));
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
}

.definitionBox {
  padding-left: 65px;
  margin-left: 150px;
  min-width: 240px;
  max-width: 500px;
  flex-grow: 1;
}

.selected {
  outline: 2px solid #6daae0;
}

.matched {
  background-color: var(--Blue-20, #6daae0);
  background-image: linear-gradient(
    0deg,
    rgba(255, 255, 253, 0.8) 0%,
    rgba(255, 255, 253, 0.8) 100%
  );
  border-radius: 8px;
  outline: 2px solid #6daae0;
}

.questionText {
  font-size: 30px;
  color: #000;
  font-weight: 600;
  line-height: 130%;
}

.questionBox {
  border-radius: 16px;
  border: 1px solid var(--Green-100, #519546);
  background: var(--Grey-4, #f5f5f5);
  padding: 20px;
  margin-bottom: 20px;
  width: 875px;
}

.continueButton {
  width: 912px;
}

.questionNumber {
  color: var(--Grey-40, #9b9b9b);
  font-family: 'Instrument Sans';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.questionDetail {
  color: #000;
  font-family: 'Instrument Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
}

.optionGridContainer {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates three columns */
  gap: 60px; /* Adjust the space between the grid items */
  margin-bottom: 55px;
}

.optionGridContainer:hover {
  cursor: pointer;
}

.optionLabel {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
}

.optionCheckbox {
  -webkit-appearance: none; /* Remove default styling for WebKit browsers */
  -moz-appearance: none; /* Remove default styling for Mozilla browsers */
  appearance: none; /* Remove default styling */
  border-radius: 9px;
  border: 0px solid gray; /* Customizable border */
  background-color: var(--Grey-8, rgba(13, 13, 13, 0.08));
  width: 60px;
  height: 30px;
  cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
}

.optionCheckbox:checked::before {
  content: ''; /* Required for the checkmark to appear */
  display: block;
  position: relative;
  left: 10px; /* Adjust these values to center the checkmark */
  top: 5px;
  width: 8px;
  height: 15px;
  border: 0px solid black;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg); /* Tilt the checkmark */
}

.optionCheckbox:focus {
  outline: none; /* Optional: removes the outline to clean up the appearance */
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.overallResults {
  width: 100%;
}

.resultsContainer {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem 6.25rem;
  /* margin-top: 100px; */
  /* margin-left: 100px; */
  /* max-width: 1000px; */
  /* height: 100vh;
  width: 80vw; */
}

.x {
  background-color: white;
  display: flex;
  flex-direction: column;
  /* margin-left: 100px; */
}

.row1 {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.scoreContainer {
  box-sizing: border-box;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--Grey-4, rgba(13, 13, 13, 0.04));
  border-radius: 10px;
  padding: 32px;
}

.summaryDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-right: 50px; Adjust as necessary */
}

.circularProgressContainer {
  position: relative;
  width: fit-content;
}

/* Style for the striped border at the bottom */
.stripedBorder {
  height: 8px;
  background-size: cover;
  border-radius: 0 0 10px 10px; /* Match the border radius of .scoreContainer if any */
}

.flowerContainer {
  width: 50%;
}

.inputWrapper {
  position: relative;
}

.passInput {
  width: 100%;
  padding-right: 30px; /* Adjust this value to provide space for the icon */
}

.icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-100%);
  cursor: pointer;
}

.iconStyle {
  color: #000; /* Change to desired color */
  font-size: 1.2em; /* Adjust size as needed */
}
