/* popup.module.css */
.popupContainer {
    position: fixed; /* Position fixed to stay in place even when scrolling */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    z-index: 1000; /* Ensure it's above other content */
  }
  
  .popupContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%; /* Responsive width, you can adjust as needed */
    max-width: 400px; /* Maximum width of the popup */
    text-align: center;
  }
  
  .popupContent p {
    margin: 0 0 20px 0; /* Add some space below the text */
    font-size: 16px; /* Adjust text size as needed */
  }
  
  .popbutton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
  }
  
  .popbutton:hover {
    background-color: #0056b3;
  }
  