.lesson-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15%;
    padding-top: 0%;
}

.lesson-container > * {
    margin-top: 5.5%;
}

.roadmap-button {
    margin-left: 5%;
    margin-top: 5%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 0.9%;
    align-items: center;
    font-weight: 300;
    font-size: 14.5px;
    font-family: 'Instrument Sans', sans-serif;
}