/* whole page */

.container {
  text-align: left;
  padding: 4em 5em;
}

.pageName {
  color: #1d1d1d;
  font-size: 40px;
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 36px;
}

.sectionHeader {
  font-size: 18px;
  font-weight: 600;
  margin: 20px 0;
  border-bottom: 1.5px solid #ddd;
  padding: 10px 0;
}

.sectionText {
  font-size: 16px;
  color: #1d1d1d;
  font-weight: 500;
  margin-top: 5px;
  line-height: 140%;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 8px 0px;
  flex-wrap: wrap;
  gap: 16px;
}

.subText {
  font-size: 14px;
  color: #9b9b9b;
  line-height: 140%;
  padding: 4px 0px;
  margin-bottom: 15px;
}

/* top section */

.profileSection {
  display: flex;
  align-items: flex-end;
  margin-bottom: 50px;
}

.name {
  font-size: 14px;
  font-weight: 500;
  margin-left: 25px;
}

.displayName {
  color: #9b9b9b;
  margin-bottom: 9px;
}

.username {
  /* border: 2px solid #ddd; */
  background-color: #e8e8e8;
  color: #1d1d1d;
  font-size: 18px;
  font-weight: 600;
  line-height: 110%;
  width: 300px;
  padding: 12px 18px;
  border-radius: 10px;
}

.username:hover {
  cursor: pointer;
}

.editingName {
  border: 2px solid #ddd;
  background-color: #e8e8e8;
  padding: 8px 10px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
}

/* popup section */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popUp {
  position: absolute;
  background-color: white;
  padding: 36px 48px;
  border-radius: 24px;
  width: 750px;
}

.popTop {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #cbcbcb;
  margin-bottom: 10px;
}

.popTitle {
  font-size: 24px;
  font-weight: 550;
  padding-bottom: 10px;
  color: #1d1d1d;
}

.popSubTitle {
  font-size: 18px;
  font-weight: 550;
  padding: 10px 0px;
  color: #1d1d1d;
}

.popText {
  font-size: 16px;
  color: #9b9b9b;
}

.popPicAll {
  padding: 30px 20px;
  /* display: grid;
  grid-template-columns: repeat(5, 1fr); */
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin: 32px 0;
}

.popPic {
  width: 110px; /* Adjust the width dynamically */
  height: 110px;
  border-radius: 50px;
  background-size: cover;
  /* margin: 10px 10px; */
  /* border: 2px solid transparent; */
  transition: border-color 0.3s ease;
}

.popPic:hover {
  cursor: pointer;
  opacity: 0.5;
}

.active {
  width: 110px; /* Adjust the width dynamically */
  height: 110px;
  border-radius: 50px;
  background-size: cover;
  background-color: #519546;
  outline: 2px solid #519546;
  transition: border-color 0.3s ease;
}

.popBottom {
  display: flex;
  justify-content: right;
  gap: 16px;
}

.popButton {
  font-size: 16px;
  font-weight: 550;
  line-height: 110%;
  color: #1d1d1d;
  border: 1px solid #9b9b9b;
  border-radius: 40px;
  padding: 12px 32px;
  cursor: pointer;
  min-width: 90px;
  text-align: center;
}

.popButton:hover {
  background-color: #e2e2e2;
  border-color: transparent;
  transition-duration: 300ms;
}

.popClose {
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
}

.popClose:hover {
  background-color: #e2e2e2;
  transition-duration: 300ms;
}

/* account section */
.accountRow {
  display: flex;
  justify-content: space-between;
}

.accountCol {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.accountClick {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
}

.arrow {
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow:hover {
  background-color: #f0f0f0;
  transition-duration: 500ms;
}

/* certificate section */

.certificateBox {
  border-radius: 10px;
  text-align: left;
  padding: 30px 20px;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 200px;
  cursor: pointer;
}

.certificateHeader {
  font-size: 20px;
  padding-top: 85px;
  font-weight: 500;
  color: green;
}

.certificateName {
  margin-top: 4px;
  font-size: 13px;
  font-weight: 500;
  padding-top: 13px;
  color: green;
}

.certificateInfo {
  font-size: 15px;
  color: green;
  gap: 5px;
  text-align: right;
}

.paginationDots {
  text-align: right;
  color: gray;
  font-size: 60px;
  margin: 0px 20px;
  cursor: pointer;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.activeDot {
  color: green;
}

/* course progress */

.courseItem {
  display: flex;
  flex: 0 0 calc(50% - 40px);
}

.courseName {
  width: 300px;
  white-space: nowrap;
  font-weight: 600;
  line-height: 100%;
  color: #1d1d1d;
  font-size: 14px;
}

/* password popup */

.passPopUp {
  position: absolute;
  background-color: white;
  padding: 3rem;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  width: 500px;
}

.passPopClose {
  display: flex;
  justify-content: flex-end;
  /* cursor: pointer; */
  font-size: 25px;
  font-weight: 500;
  color: #9b9b9b;
}

.passPopCloseBtn {
  padding: 5px;
  cursor: pointer;
  color: #9b9b9b;
  border-radius: 4px;
}

.passPopCloseBtn:hover {
  background-color: #e2e2e2;
  transition-duration: 300ms;
}

.pencil {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding: 35px 0px;
}

.passPopTitle {
  font-size: 18px;
  font-weight: 550;
  padding-bottom: 8px;
  text-align: center;
}

.passPopSub {
  text-align: center;
  font-size: 16px;
  color: #9b9b9b;
  margin-bottom: 2rem;
  font-weight: 300;
  font-family: 'Instrument Sans';
  line-height: 140%;
}

.passPopText {
  font-size: 14px;
  color: #9b9b9b;
  margin: 8px 0;
}

.passPopBottom {
  margin: 2rem 0 0 0;
  display: flex;
  justify-content: space-between;
}

.passInput {
  border-radius: 8px;
  border: none;
  background-color: rgb(232, 232, 232);
  font-size: 14px;
  padding: 12px 18px;
  margin-bottom: 10px;
  width: 93%;
}

.passPopButton {
  font-size: 18px;
  border: 1.5px solid #9b9b9b;
  border-radius: 40px;
  padding: 12px 55px;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
}

.passPopCancelButton {
  font-size: 18px;
  border: 1.5px solid #9b9b9b;
  border-radius: 40px;
  padding: 12px 55px;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
}

.passPopCancelButton:hover {
  background-color: #9b9b9b;
  color: #fff;
  transition-duration: 300ms;
}

.enabled {
  background-color: #0d0d0d;
  color: white;
  border-color: #0d0d0d;
}

.disabled {
  background-color: #e2e2e2;
  border-color: #e2e2e2;
  color: #cbcbcb;
}

.disabled:hover {
  cursor: pointer;
}

.done {
  font-size: 18px;
  border: 1px solid black;
  border-radius: 40px;
  padding: 12px 55px;
  background-color: #0d0d0d;
  color: white;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 50px;
  border-radius: 10px;
  text-align: center;
  z-index: 1001;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
}

.confirmButton {
  background: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancelButton {
  background: grey;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout_btn {
  border: 1.5px solid #9b9b9b;
  font-family: 'Instrument Sans';
  background-color: #fff;
  color: #1d1d1d;
  margin-top: 10px;
  width: 140px;
  height: 35px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 40px;
  padding: 12px 32px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout_btn:hover {
  cursor: pointer;
  background-color: #9b9b9b;
  color: #fff;
  transition-duration: 500ms;
}
