/* whole page */

.container {
  text-align: left;
  margin: 40px 60px;
}

.pageName {
  color: black;
  font-size: 2em;
  margin-bottom: 40px;
  font-weight: bold;
}

.sectionHeader {
  font-size: 25px;
  font-weight: 600;
  margin: 20px 0;
  border-bottom: 1.5px solid #ddd;
  padding-bottom: 10px;
}

.sectionText {
  font-size: 17px;
  font-weight: 500;
}

.row {
  display: flex;
  justify-content: left;
  padding: 10px;
  flex-wrap: wrap;
  gap: 20px;
}

.subText {
  font-size: 15px;
  color: gray;
  padding: 15px 0px;
  gap: 5px;
  margin-bottom: 20px;
}

/* top section */

.profileSection {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.name {
  font-size: 15px;
  font-weight: 500;
  margin-left: 50px;
}

.displayName {
  color: #a7a0a0;
  margin-bottom: 10px;
}

.username {
  border: 2px solid #ddd;
  background-color: #e8e8e8;
  width: 200px;
  padding: 8px 10px;
  border-radius: 10px;
}

.editingName {
  border: 2px solid #ddd;
  background-color: #e8e8e8;
  padding: 8px 10px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
}

/* popup section */

.overlay {
  position: fixed;
  top: 0;
  left: 110px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popUp {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 50px 50px;
  border-radius: 10px;
}

.popTop {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
}

.popTitle {
  font-size: 20px;
  font-weight: 550;
  padding-bottom: 10px;
}

.popSubTitle {
  font-size: 20px;
  font-weight: 550;
  padding: 20px 0px;
}

.popText {
  font-size: 18px;
  color: gray;
}

.popPicAll {
  padding: 30px 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.popPic {
  width: 100px; /* Adjust the width dynamically */
  height: 100px;
  border-radius: 50px;
  background-size: cover;
  margin: 30px 10px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.active {
  width: 100px; /* Adjust the width dynamically */
  height: 100px;
  border-radius: 54px;
  background-size: cover;
  margin: 30px 10px;
  border: 5px solid green;
  transition: border-color 0.3s ease;
}

.popPic:hover {
  opacity: 0.5;
}

.popBottom {
  display: flex;
  justify-content: right;
}

.popButton {
  font-size: 18px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2px 10px;
  margin: 5px;
  cursor: pointer;
}

.popClose {
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
}

/* account section */
.accountRow {
  display: flex;
  justify-content: space-between;
}

.arrow {
  font-size: 25px;
  font-weight: 300;
  color: gray;
  cursor: pointer;
}

/* certificate section */

.certificateBox {
  border-radius: 10px;
  text-align: left;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 175px;
  cursor: pointer;
}

.certificateItem {
  flex: 0 0 calc(33.33% - 20px);
}

.certificateHeader {
  font-size: 20px;
  font-weight: 500;
  border-bottom-width: 2px;
  padding-bottom: 5px;
  color: green;
}

.certificateName {
  margin-top: 4px;
  font-size: 18px;
  font-weight: 500;
  border-left: 4px solid;
  padding: 0px 10px;
  width: 130px;
}

.certificateInfo {
  display: flex;
  font-size: 15px;
  color: green;
  padding: 8px 0px;
  gap: 5px;
}

.paginationDots {
  text-align: right;
  color: gray;
  font-size: 60px;
  margin: 0px 20px;
  cursor: pointer;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.activeDot {
  color: green;
}

/* course progress */

.courseItem {
  display: flex;
  flex: 0 0 calc(50% - 40px);
  align-items: left;
  margin-right: 20px;
}

.courseName {
  width: 50%;
}

/* password popup */

.passPopUp {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 50px 50px;
  border-radius: 10px;
  width: 500px;
}

.passPopClose {
  cursor: pointer;
  font-size: 25px;
  font-weight: 500;
  color: gray;
  text-align: right;
}

.pencil {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding: 35px 0px;
}

.passPopTitle {
  font-size: 20px;
  font-weight: 550;
  padding-bottom: 20px;
  text-align: center;
}

.passPopSub {
  text-align: center;
  font-size: 18px;
  color: gray;
  margin-bottom: 40px;
}

.passPopText {
  font-size: 18px;
  color: gray;
  margin: 10px 0;
}

.passPopBottom {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.passInput {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border-color: rgb(232, 232, 232);
  background-color: rgb(232, 232, 232);
  font-size: 20px;
  color: gray;
  font-size: 20px;
}

.passInput:hover {
  cursor: pointer;
}

.passPopButton {
  font-size: 18px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px 20px;
  margin: 5px;
  cursor: pointer;
}

.enabled {
  background-color: black;
  color: white;
}

.disabled {
  background-color: rgb(218, 217, 217);
  border-color: rgb(218, 217, 217);
  color: gray;
  cursor: auto;
}

.done {
  font-size: 18px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px 20px;
  margin: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
  width: 100px;
  text-align: center;
}
