/* whole landing page */
.landingPage {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 1em 5em;
  box-sizing: border-box;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 20px;
  margin: 0px;

}
.progressContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.userName {
  color: green;
}
.welcome {
  display: flex;
  gap: 5px;
  flex-direction: row;
}
.welcome h1 {
  font-weight: normal;
}
.imageGarden {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}
/* going to the garden */
.garden {
  box-sizing: border-box;
  padding: 20px;
  border-radius: 15px;
  height: 100%;
  background-color: rgb(237, 234, 234);
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  margin: 0;
}
.garden h2 {
  margin: 4px;
}
.gardenInfo {
  font-size: 18px;
  color: gray;
  margin: 2px;
  padding: 2px;
}
.enterGarden {
  cursor: pointer;
  border: 2px solid green;
  background: green;
  color: white;
  border-radius: 20px;
  width: 200px;
  text-align: center;
  margin-top: 20px;
  padding: 10px 5px;
}
/* whole course part */
.courseContainer {
  align-items: left;
  padding-top: 40px;
}
/* course layout */
.courseLayout {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
/* course toggle */
.courseToggle {
  cursor: pointer;
  display: flex;
  gap: 20px;
  color: gray;
  border-bottom: 2px solid gray;
  margin-bottom: 30px;
  position: relative;
}
.active {
  color: green;
  font-weight: 600;
}
.filterItem {
  cursor: pointer;
}
.filterItem:hover {
  text-decoration: none;
}
.active {
  color: green;
}
.active::after {
  content: "";
  display: block;
  border-bottom: 2px solid green;
  margin-top: 5px;
}
/* course cards */
.courseCard {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
  width: 292px;
  height: 218px;
}
.courseCardImage {
  margin: 0;
  height: 188px;
  width: 292px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.bottomBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}
.courseDuration {
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  padding: 2px 5px;
}
/* responsiveness */
@media (max-width: 800px) {
  .imageGarden {
    display: flex;
    flex-direction: column;
  }
  .image {
    width: 90%;
    max-width: 700px;
    height: auto;
  }
  .garden {
    max-width: 200px;
    box-sizing: border-box;
    max-height: 250px;
    margin: 0;
    padding: 10px;
  }
  .gardenInfo {
    width: 100%;
    font-size: 12px;
  }
  .enterGarden {
    width: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
/* garden related css */
.gardenModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  backdrop-filter: blur(2px);
}
.gardenModal {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  height: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .gardenModalText {
    text-align: left;
    width: 100%;
  }
  .gardenModalSubtext {
    width: 100%;
    font-size: 14px;
    margin: 0;
    color: gray;
  }
  .gardenModalButtonContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
  }
  .gardenModalImageContainer {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 360px;
    margin: 0px;
    border-radius: 10px;
    overflow: hidden;
    overflow: hidden;
  }
  .gardenImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 300px;
    background-position: center;
    background-size: contain;
    border-radius: 0%;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  .gardenEditImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
    overflow: hidden;
  }
  /* TODO: replace this with the correct background */
  .gardenBackground {
    background-image: url('/backgrounds/background1.png');
  }
  .gardenBackgroundWide {
    width: 600px;
    height: 300px;
    background-size: cover;
    border-radius: 20px;
    background-image: url('/backgrounds/background1.png');
  }
  .gardenEarth {
    width: 200px;
    height: 200px;
    top: 150px;
    left: 80px;
    background-size:cover;
    background-image: url("/garden/earth.png");
    z-index: 10;
  }
  .gardenEarthWide {
    width: 250px;
    height: 250px;
    top: 230px;
    left: 175px;
    background-image: url("/garden/earth.png");
    z-index: 10;
  }
  .gardenFlower1 {
    top: 80px;
    left: 70px;
    width: 60px;
    border-radius: 0%;
    background-image: url("https://global-green-2.s3.us-west-1.amazonaws.com/flower1.png");
  }
  .gardenFlower1Wide {
    top: 40px;
    left: 150px;
    width: 80px;
    background-image: url("https://global-green-2.s3.us-west-1.amazonaws.com/flower1.png");
  }
  .gardenFlower2 {
    top: 80px;
    left: 260px;
    height: 90px;
    background-image: url("https://global-green-2.s3.us-west-1.amazonaws.com/flower2.png");
  }
  .gardenFlower2Wide {
    top: 160px;
    left: 110px;
    height: 110px;
    background-image: url("https://global-green-2.s3.us-west-1.amazonaws.com/flower2.png");
  }
  .gardenFlower3 {
    top: 100px;
    left: 230px;
    height: 80px;
    background-image: url("https://global-green-2.s3.us-west-1.amazonaws.com/flower3.png");
  }
  .gardenFlower3Wide {
    top: 150px;
    left: 50px;
    height: 100px;
    background-image: url("https://global-green-2.s3.us-west-1.amazonaws.com/flower3.png");
  }
  .gardenFlower4 {
    top: 115px;
    left: 120px;
    width: 60px;
    background-image: url("https://global-green-2.s3.us-west-1.amazonaws.com/flower4.png");
  }
  .gardenFlower4Wide {
    top: 35px;
    left: 210px;
    width: 80px;
    background-image: url("https://global-green-2.s3.us-west-1.amazonaws.com/flower4.png");
  }
  .gardenFlower5 {
    top: 40px;
    left: 200px;
    height: 110px;
    background-image: url("https://global-green-2.s3.us-west-1.amazonaws.com/flower5.png");
  }
  .gardenFlower5Wide {
    top: 90px;
    left: 0px;
    height: 130px;
    background-image: url("https://global-green-2.s3.us-west-1.amazonaws.com/flower5.png");
  }
  .gardenFlower6 {
    top: 120px;
    left: 70px;
    width: 70px;
    background-image: url("https://global-green-2.s3.us-west-1.amazonaws.com/flower6.png");
  }
  .gardenFlower6Wide {
    top: 60px;
    left: 150px;
    width: 90px;
    background-image: url("https://global-green-2.s3.us-west-1.amazonaws.com/flower6.png");
  }
  .gardenFlower7 {
    width: 100px;
    height: 100px;
    background-image: url("https://global-green-2.s3.us-west-1.amazonaws.com/flower7.png");
  }

  /* TODO: display the background and accessories images to the GardenImage by adding styling */

  .accessoriesBush {
    width: 90px;
    height: 60px;
    background-image: url("https://global-green-2.s3.us-west-1.amazonaws.com/Bushes.png");
  }

  .accessoriesTurbines {
    width: 100px;
    height: 50px;
    background-image: url("https://global-green-2.s3.us-west-1.amazonaws.com/Turbines.png");
  }

  .accessoriesPlant {
    width: 90px;
    height: 80px;
    background-image: url("https://global-green-2.s3.us-west-1.amazonaws.com/Plant.png");
  }

  .accessoriesTent {
    width: 100px;
    height: 100px;
    background-image: url("https://global-green-2.s3.us-west-1.amazonaws.com/Tent.png");
  }

  .accessoriesTools {
    width: 100px;
    height: 100px;
    background-image: url("https://global-green-2.s3.us-west-1.amazonaws.com/Tools.png");
  }

  .accessoriesMushrooms {
    width: 100px;
    height: 100px;
    background-image: url("https://global-green-2.s3.us-west-1.amazonaws.com/Mushrooms.png");
  }

  .background1 {
    background-image: url('/backgrounds/background1.png');
  }


.gardenModalEditBox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
  .gardenModalEditBoxLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    gap: 10px;
  }
  .gardenModalEditBoxRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
  }
}
.gardenModalEditTab {
  /* 3 columns infinity  */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  height: 250px;
  overflow-y: auto;
  gap: 10px;
}
.gardenModalEditItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px !important;
  height: 125px !important;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-sizing: border-box;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.gardenModalEditItemRemove {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 5px;
  border-radius: 10px;
  box-sizing: border-box;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
