.welcome{
  display: flex; 
  flex-direction: row;
}

.banner {
  padding: 40px;
}

.landingPage {
  display: flex;
  flex-direction: column;
  align-items: left; 
  padding: 40px;
}

.imageGarden{
  display: flex;
  gap: 30px;
}

.garden{
  border: 2px solid black;
  padding: 30px 30px;
  border-radius: 15px;
  background-color: rgb(206, 202, 202);
}

.gardenInfo{
  font-size: 20px;
  margin: 2px;
}

.enterGarden {
  border: 2px solid green;
  border-radius: 20px;
  text-align: center;
  margin-top: 20px;
}

/* whole course part */
.courseContainer {
  padding: 40px;
}

/* course layout */
.courseLayout{
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  gap: 20px;
}

/* course toggle */
.courseToggle {
  display: flex;
  gap: 20px;
  color: gray;
  border-bottom: 2px solid gray;
  padding: 5px;
  margin-bottom: 30px;
}

.active {
  color: green;
  font-weight: 600;
}


/* course cards */
.courseCard{
  display: flex; 
  flex-direction: column;
  flex: 0 0 calc(28% - 20px);
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  height: 150px;
}

.courseName{
  font-weight: 500; 
  font-size: 20px;
  width: 120px;
  border-left: 4px solid;
  padding: 0px 10px;
}

.bottomBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.courseDuration{
  border-radius: 10px;
  width: 40px;
  background-color: rgb(207, 187, 187);
  text-align: center;
  font-size: 14px;
  padding: 2px 5px;
}
