.WelcomeText {
  display: flex;
  flex-direction: column; 
  padding: 30px;
  background-color: #ffffff; 
  text-align: left;
  width: 100vw;
  padding-left: 180px;
  text-indent: 40px;

}

.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.lpbuttoncontainer {
display: flex;
align-items: center;
justify-content: space-between;
position: relative
}

.lpbutton{
background-color: #f0f0f0;
border-radius: 27%;
color: #000000;
margin-right: 500px;
transform: translateY(70%);
width: 140px;
height: 35px;
font-size: 12px;
font-family: "Nimbus", "Sans Bold", serif;
font-weight: bold;
text-transform: capitalize;
display: flex;
}

.landingpageImage{
display: flex;
margin-left: 40px;
}

.enterGardenText{
display: flex;
color: #000000;
font-size: 19px;
font-family: "Nimbus", "Sans Bold", serif;
margin-right: -180px;
margin-top: 2px;
}


/* garden related css */
.gardenModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  backdrop-filter: blur(2px);
}

.gardenModal {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .gardenModalText{
    text-align: left;
    width: 100%;
  }

  .gardenModalSubtext {
    width: 100%;
    font-size: 14px;
    margin: 0;
    color: gray;
  }

  .gardenModalButtonContainer{
    display: flex;
    width: 100%;

    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
  }

  .gardenModalImageContainer{
    position: relative;
    width: 600px;
    height: 300px;
    margin: 20px;
    border-radius: 10px;
  }

  .gardenImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-size: contain;
    background-repeat: no-repeat;
    
  }
  .gardenBackground {
    background-image: url('/garden/background.png');
  }
  .gardenEarth {
    background-image: url('/garden/earth.png');
    z-index: 10;
  }
  .gardenFlower1 {
    background-image: url('/garden/1.png');
  }
  .gardenFlower2 {
    background-image: url('/garden/2.png');
  }
  .gardenFlower3 {
    background-image: url('/garden/3.png');
  }
  .gardenFlower4 {
    background-image: url('/garden/4.png');
  }
  .gardenFlower5 {
    background-image: url('/garden/5.png');
  }
  .gardenFlower6 {
    background-image: url('/garden/6.png');
  }
  .gardenFlower7 {
    background-image: url('/garden/7.png');
  }
}

