.exampleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Arial", sans-serif;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
}

.exampleImageContainer {
  text-align: left;
}

.alignImage {
  width: 500px;
  height: auto;
}

.exampleForm {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-top: 80px;
}

.exampleInput {
  margin: 7px 0;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  background-color: #f2f2f2;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  width: 100%;
  font-size: 16px;
  margin-bottom: 20px;
}

.exampleSubmitButton {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100px;
  margin: 30px auto 0;
}

.exampleSubmitButton:hover {
  background-color: #45a049;
}

.exampleLabel {
  text-align: left;
  display: block;
  margin-top: 4px;
  margin-bottom: 4x;
  font-size: 10px;
  color: #0d0d0d70;
}

.exampleTitle {
  color: black;
  text-align: center;
  font-family: "Arial";
  font-size: 30px;
  font-weight: 400;
  line-height: 100%;
}

.exampleGGtext {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  color: black;
}

.exampleGreenText {
  color: #45a049;
  font-weight: bold;
}