.pageContent {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
  background-color: white;
  gap: 124px;
}
.ImageContainer {
  background-color: white;
}
.alignImage {
  width: 450px;
  height: auto;
}
.imageCaption {
  text-align: center;
  margin-top: 10px;
  font-size: 28px;
  line-height: 100%;
  color: #1d1d1d;
}
.GlobalGreenText {
  color: #519546;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formTitle {
  color: #1d1d1d;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

.nameGroup {
  width: 430px;
  display: flex;
  justify-content: space-between;
}
.nameInput {
  border: none;
  border-radius: 8px;
  background-color: #e2e2e2;
  display: flex;
  padding: 12px 16px;
  align-items: center;
  width: 175px;
  font-size: 16px;
  margin-bottom: 20px;
}
.nameInput:focus {
  outline: none;
}

.inputLabel {
  text-align: left;
  display: block;
  font-size: 14px;
  color: #9b9b9b;
}
.fieldInput {
  border: none;
  border-radius: 8px;
  background-color: #e2e2e2;
  display: flex;
  padding: 12px 16px;
  align-items: center;
  width: 400px;
  font-size: 16px;
  margin-bottom: 20px;
}
.fieldInput:focus {
  outline: none;
}

.submitButton {
  background-color: #519546;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 32px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  width: 160px;
}
.submitButton:hover {
  background-color: #45a049;
}

.center {
  text-align: center;
}
.centerCaptcha {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.loginPrompt {
  margin-top: 12px;
  text-align: center;
  color: rgba(13, 13, 13, 0.4);
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 500;
}
.loginLink {
  color: #519546;
  text-decoration: underline;
  font-weight: 600;
}

.topLeft {
  color: var(--Green-100, #519546);
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  padding-top: 30px;
  padding-left: 30px;
  display: flex;
  align-items: center;
}

.topLeft span {
  margin-top: -5px;
}

.passwordContainer {
  position: relative;
  width: 210px;
}

.passwordIcon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #aaa;
}

.divider {
  width: 480px;
  height: 1px;
  background: rgba(13, 13, 13, 0.2);
  border: none;
}

.contentEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 480px;
}

.googleButton {
  background-color: white;
  color: black;
  padding: 4px 0px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 480px;
  border: 1px solid rgba(13, 13, 13, 0.2);
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.googleButton:hover {
  background-color: #f2f2f2;
}

.termsFont {
  font-size: 12px;
  color: rgba(13, 13, 13, 0.4);
}
